<template>
  <div>
    <div id="container">
      <h3 style="font-weight:100;" v-if="noResults">
        <div v-if="query"> No desserts with {{ query }} in its name in the category "{{$datum.workspace}}" </div>
        <div v-else>there are no desserts in {{ $datum.workspace }}</div>
      </h3>
      <div v-if="!noResults">
        <input
          type="checkbox"
          name="show-images"
          id="show-images"
          @click="showImages"
        />
        images
        <input type="checkbox" name="show-images" id="order" @click="order" />
        order alphabetically
      </div>
    </div>
    <div id="cards" class="without-images">
      <h2 v-if="b" style="margin-top:100px;">You have no Desserts</h2>
      <div
        class="card-without-image"
        v-for="dessert in desserts"
        v-bind:key="dessert._id"
      >
        <DessertCard :dessert="dessert" :showImage="showImg" />
      </div>
    </div>
  </div>
</template>

<script>
import DessertCard from "../components/DessertCard.vue";
export default {
  name: "BrowsingDesserts",
  props: {
    query: String,
    // desserts: Object,
    workspaceNumber: Number,
    change: Number
  },
  components: {
    DessertCard
  },
  data: function() {
    return {
      b: false,
      showImg: false,
      prev: [],
      ord: false,
      desserts: null,
      lastQuery: null,
    };
  },
  methods: {
    showImages: function() {
      // window.console.log(document.getElementsByClassName("card"))
      // for(const c of document.getElementById("cards").children){
      //   window.console.log(c.className)
      // }
      this.showImg = !this.showImg;
      if (this.showImg) {
        document.getElementById("cards").className = "with-images";
        document.getElementById("cards").style.marginTop = "10px";
        for (var a of document.getElementById("cards").children) {
          a.className = "card";
        }
      } else {
        document.getElementById("cards").className = "without-images";
        document.getElementById("cards").style.marginTop = "100px";
        for (var b of document.getElementById("cards").children) {
          b.className = "card-without-image";
        }
      }
    },
    order: function() {
      this.ord = !this.ord;
      if (!this.ord) {
        this.desserts = this.prev;
        return;
      }
      this.prev = this.desserts.slice();
      this.desserts = this.desserts.sort(function(a, b) {
        var nameA = a.name.toLowerCase(),
          nameB = b.name.toLowerCase();
        if (nameA < nameB)
          //sort string ascending
          return -1;
        if (nameA > nameB) return 1;
        return 0;
      });
    }
  },
  mounted() {
    var som = this;
    var workspace = this.$datum.workspace;
    // window.console.log(workspace)
    var obj = {category: workspace}
    if (workspace === "All") obj={};
    som.$db.desserts.find(obj, function(docs, err) {
      // window.console.log(docs)
      // window.console.log(err)
      var another = err;
      som.desserts = another;
      if (!another) som.b = true;
      else {
        som.b = false;
      }
    });
  },
  beforeUpdate(){
    // if(!this.desserts){
    // var som = this;
    // var workspace = this.$datum.workspace;
    // // window.console.log(workspace)
    // var obj = {category: workspace}
    // if (workspace === "All") obj={};
    // const query = new RegExp(this.query, "i");
    //   obj.name=query;
    // som.$db.desserts.find(obj, function(docs, err) {
    //   // window.console.log(docs)
    //   // window.console.log(err)
    //   var another = err;
    //   som.desserts = another;
    //   if (!another) som.b = true;
    //   else {
    //     som.b = false;
    //   }
    // });
    // }
  },
  watch: {
    query: function() {
      window.console.log("12345")
      var workspace = this.$datum.workspace;
      var obj = {category:workspace}
      if (workspace === "All") obj={};
      const query = new RegExp(this.query, "i");
      this.lastQuery = query;
      obj.name=query;
      var tis = this;
      // get all desserts that contain query in its name else display none found
      this.$db.desserts.find(obj, function(err, docs) {
        if (err) window.console.log(err);
        tis.desserts = docs;
      });
    },
    workspaceNumber: function(){
      window.console.log("0000000pppp")
      window.console.log(this.lastQuery)
      var workspace = this.$datum.workspace;
      var obj = {category: workspace}
      if (workspace === "All") obj={};
      const query = this.lastQuery;
      if(query)obj.name=query;
      window.console.log("tttttttt")
      window.console.log(obj)
      var tis = this;
      // get all desserts that contain query in its name else display none found
      this.$db.desserts.find(obj, function(err, docs) {
        if (err) window.console.log(err);
        tis.desserts = docs;
      });
    }
  },
  computed: {
    noResults: function() {
      window.console.log(this.desserts);
      if (!this.desserts) return false;
      else if (this.desserts.length == 0) return true;
      return false;
    },

  }
};
</script>

<style scoped>
.with-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
}
.without-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
}
.card {
  margin: 50px;
}
.card-without-image {
  margin-left: 80px;
  margin-right: 80px;
  height: 100px;
}
#container {
  display: inline-block;
}
#order {
  margin-left: 100px;
}
#cards {
  margin-top: 100px;
}
</style>
