<template>
  <div class="main">
    <button @click="submit" id="submit">Submit</button>
    <input type="text" name="name" id="name" placeholder="Dish Name" />
    <select name="categories" id="categories">
      <option value="">--No category--</option>
      <option
        v-for="category in categories"
        v-bind:key="category._id"
        :value="category"
      >
        {{ category }}
      </option>
    </select>
    <div class="presentation">
      <div id="container">
        <input
          type="file"
          id="selectedFile"
          style="display: none;"
          @change="_uploadFile"
          @click="_setNull"
          multiple
        />
        <button
          onclick="document.getElementById('selectedFile').click()"
          class="component-names component-name"
        >
          Search Component Files
        </button>
        <br />
        <input type="text" name="component" id="no-recipe-input" />
        <button id="component-no-recipe" @click="addComponentNoRecipe">
          add component with no recipe
        </button>
        <br />
        <div
          style="display:flex; flex-direction:row; justify-content:center; margin-right:77px;"
        >
          <SimpleSuggestion
            id="text-search-recipe"
            style="width:205px;"
            v-model="chosen"
            :list="simpleSuggestionList"
            :filter-by-query="true"
          >
            <!-- Filter by input text to only show the matching results -->
          </SimpleSuggestion>
          <button id="component-text-search" @click="addComponentTextSearch">
            add component
          </button>
        </div>
        <!-- <button id="test" @click="test"> test file directory</button> -->
        <!-- <input type="text" > -->
        <br />
        <br />
        <div class="component-names" v-for="name in names" v-bind:key="name.id">
          <div class="component-name">
            <span id="comp-name">{{ name }}</span>
            <span @click="removeComponent(name)" class="close">x</span>
          </div>
        </div>
        <div style="position: absolute; top: 431px; left:30px;">
          <button id="recipe" @click="createComponent">
            Create new component
          </button>
          <br />
          <br />
          <p>Notes:</p>
          <textarea id="notes" rows="10" cols="50"></textarea>
        </div>
      </div>
      <div id="dessert-image-container">
        <br />add pictures of the dessert
        <!-- <input
          type="file"
          accept="image/*"
          @change="_uploadImageFile"
          @click="_setNull"
          id="dessert-imag"
        />
        <br />
        <br />
        <br />
        <br />add a diagram of the dessert
        <input
          type="file"
          accept="image/*"
          @change="_uploadDiagramFile"
          @click="_setNull"
          id="dessert-diagram"
        />-->
        <vue-upload-multiple-image
          style="margin-left:100px;"
          id="testing"
          @upload-success="uploadImageSuccess"
          @before-remove="beforeRemove"
          @edit-image="editImage"
          @mark-is-primary="markPrimary"
          :data-images="images"
          dragText="upload image"
          browseText=""
          primaryText="primary image"
          markIsPrimaryText="make primary image"
          popupText="this image will be displayed when browsing"
          :maxImage="6"
        ></vue-upload-multiple-image>
        <div style="margin-top: 262px;">
          <p>Dish instructions:</p>
          <textarea id="instructions" rows="10" cols="50"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueUploadMultipleImage from "vue-upload-multiple-image";
// import VueSimpleSuggest from "vue-simple-suggest";
import SimpleSuggestion from "../components/SimpleSuggestion.vue";
import "vue-simple-suggest/dist/styles.css"; // Optional CSS
export default {
  name: "CreateDessert",
  props: {
    change: Number
  },
  data: function() {
    return {
      queue: [],
      names: [],
      imageFile: "",
      diagramFile: "",
      allComponents: [],
      images: [],
      dataImages: [],
      categories: [],
      chosen: "",
      myMap: new Map()
    };
  },
  components: {
    VueUploadMultipleImage,
    SimpleSuggestion
  },
  watch: {
    change: function() {
      this.reload();
    }
  },
  methods: {
    reload: function() {
      var tis = this;
      this.$db.data.find({ name: "categories" }, function(err, docs) {
        if (err) throw err;
        // if categories is null insert a doc
        if (docs.length == 0) {
          tis.$db.data.insert({
            name: "categories",
            info: "list of strings",
            values: ["All"]
          });
          tis.categories = [];
        } else {
          tis.categories = docs[0].values;
        }
      });
    },
    testing: function() {
      // window.console.log("hello hey");
      // window.console.log(document.getElementById("testing").dataImages);
      // window.console.log(this.images);
      document.getElementById("test-img").src = this.dataImages[0].real_path;
    },
    uploadImageSuccess(formData, index, fileList) {
      window.console.log("data", formData, index, fileList);
      this.dataImages = fileList;
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
    },
    beforeRemove(index, done, fileList) {
      window.console.log("index", index, fileList);
      done();
      this.dataImages = fileList;
    },
    editImage(formData, index, fileList) {
      window.console.log("edit data", formData, index, fileList);
      this.dataImages = fileList;
    },
    markPrimary: function(index, fileList) {
      this.images = fileList;
    },
    createComponent: function() {
      const cmd = "open -na tuggle";
      const { exec } = require("child_process");
      exec(cmd, (err, stdout, stderr) => {
        if (err) {
          window.console.log(err);
          return;
        }
        if (stdout) window.console.log(stdout);
        if (stderr) window.console.log(stderr);
      });
    },
    removeComponent: function(name) {
      const index = this.names.indexOf(name);
      if (index !== -1) {
        this.names.splice(index, 1);
        this.queue.splice(index, 1);
      }
    },
    submit: function() {
      // window.console.log("Aaron send me the line bellow:");
      //   window.console.log(this.imageFile);
      //   window.console.log(this.diagramFile);
      //   if(this.imageFile) return;

      // create dessert
      var category = document.getElementById("categories").value;
      if (category === "") category = null;
      const name = document.getElementById("name").value;
      const notes = document.getElementById("notes").value;
      const instructions = document.getElementById("instructions").value;
      const components = this.queue.map(val => ({
        name: val.name.replace(".JSHN", "").replace(".pages", ""),
        // path: val.path.substr(val.path.match(/components/).index + 11, val.path.length)
        path: val.path
      }));
      // const image = this.imageFile;
      // var image_url = name + this.makeid(6) + image.name;
      // const diagram = this.diagramFile;
      // var diagram_url = "d" + name + this.makeid(6) + diagram.name;
      // if (
      //   image_url
      //     .substr(image_url.length - 4, image_url.length - 1)
      //     .match(/jpg/i)
      // ) {
      //   window.console.log("lllll");
      //   image_url = image_url.substr(0, image_url.length - 4) + ".jpg";
      // }
      // if (
      //   diagram_url
      //     .substr(diagram_url.length - 4, diagram_url.length - 1)
      //     .match(/jpg/i)
      // )
      //   diagram_url = diagram_url.substr(0, diagram_url.length - 4) + ".jpg";
      var all_images = this.dataImages.map(val => {
        var image_url = "all_images/" + name + this.makeid(6) + val.name;
        if (
          image_url
            .substr(image_url.length - 4, image_url.length - 1)
            .match(/jpg/i)
        ) {
          image_url = image_url.substr(0, image_url.length - 4) + ".jpg";
        }
        return image_url;
      });
      if (!name || !components) {
        alert("missing important information");
        return;
      }

      var fs = require("fs");
      // const textData = JSON.stringify(data);
      // window.console.log(image.name);

      // STORE IMAGEs IN database
      // fs.copyFileSync(image.path, "src/database/images/" + image_url);
      // fs.copyFileSync(diagram.path, "src/database/diagrams/" + diagram_url);
      window.console.log('AARON LOOK AT THIS');
      window.console.log(process.cwd());
      // window.console.log(fs.);
      try{
      for (var i = 0; i < this.dataImages.length; i += 1) {
        fs.copyFileSync(
          this.dataImages[i].real_path,
          "src/database/" + all_images[i]
        );
      }
      }
      catch(err){
        fs.copyFileSync(
          this.dataImages[i].real_path,
          "aaronfriedman/desktop/project/cookbook/src/database/" + all_images[i]
        );
      }
      //STORE DESSERT IN databse
      var created_at = new Date();
      created_at = created_at.toString();
      var tis = this;
      this.$db.desserts.insert(
        {
          name,
          notes,
          instructions,
          components,
          all_images,
          created_at,
          category
        },
        function(err, newDoc) {
          if (err) window.console.log(err);
          tis.$router.push({
            name: "dessert",
            query: { stuff: JSON.stringify(newDoc) }
          });
        }
      );
    },
    _uploadFile: async function(event) {
      const files = event.target.files;

      this.queue.push(...files);
      for (const file of files) {
        this.names.push(file.name.replace(".JSHN", "").replace(".pages", ""));
      }
    },
    addComponentTextSearch: function() {
      //get text in input
      const text = document.getElementById("text-search-recipe").value;
      // check if text is in names if not return
      if (this.allComponentNames.indexOf(text) === -1) return;
      this.names.push(text);
      this.queue.push({ name: text, path: this.myMap.get(text) });
      window.console.log({ name: text, path: this.myMap.get(text) });
    },
    _uploadImageFile: async function(event) {
      const file = event.target.files[0];
      this.imageFile = file;
      window.console.log(file);
    },
    _uploadDiagramFile: async function(event) {
      const file = event.target.files[0];
      this.diagramFile = file;
    },
    _setNull: function(event) {
      event.target.value = null;
    },
    makeid: function(length) {
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      return result;
    },
    addComponentNoRecipe: function() {
      const str = document.getElementById("no-recipe-input").value;
      this.names.push(str);
      this.queue.push({ name: str, path: "no-recipe-component" });
    },
    simpleSuggestionList() {
      return this.allComponentNames;
    }
  },
  beforeMount() {
    var recursive = require("recursive-readdir");
    var tis = this;
    window.console.log(__dirname);
    window.console.log(__filename);
    window.console.log(process.cwd());
    // check if desktop is there
    var cwd = process.cwd()
    let ind  = cwd.indexOf("desktop/");
    let path = "../../desktop/all_recipes/";
    if(ind!=-1){
      let paths = cwd.split('/').filter((val)=>val!="");
      window.console.log(paths);
      // for ever folder between desktop and the final folder add ../ to path
      paths.indexOf("desktop");
      path="";
      for(let i =0;i<=paths.length-paths.indexOf("desktop")-2;i+=1){
        path+="../"
      }
      path+="../desktop/all_recipes/"
    }
    if(process.cwd()=="/Users") path = "./aaronfriedman/desktop/all_recipes/";
    if(process.cwd().toLowerCase()=="/users/aaronfriedman/desktop/project/cookbook") path = "../../all_recipes/";
    window.console.log('the pat his:  ' + path);

    recursive(path, function(err, files) {
      if (err) window.console.log(err);
      else {

        files = files.filter(val => {
          return (
            val.substr(val.length - 6, 6).match(/.JSHN/i) != null && val.match(/DS_S/i) == null
          );
        });
        tis.allComponents = files;
        // window.console.log(files);
      }
    });
  },
  mounted() {
    var tis = this;
    this.$db.data.find({ name: "categories" }, function(err, docs) {
      if (err) throw err;
      // if categories is null insert a doc
      if (docs.length == 0) {
        tis.$db.data.insert({
          name: "categories",
          info: "list of strings",
          values: ["All"]
        });
        tis.categories = [];
      } else {
        tis.categories = docs[0].values;
      }
    });
  },
  computed: {
    allComponentNames: function() {
      const path = require("path");
      return this.allComponents.map(val => {
        const name = path.basename(val).replace(/.JSHN/i, "").replace(".pages", "");
        this.myMap.set(name, val);
        return name;
      });
    }
  }
};
</script>

<style scoped>
.close {
  cursor: pointer;
  position: absolute;
  left: 365px;
  font-family: Verdana, sans-serif;
  font-size: 19px;
}
#submit {
  margin-top: 100px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  position: absolute;
  left: 80%;
  top: 100px;
}
#submit:hover {
  cursor: pointer;
}
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
}
.main {
  margin-top: 80px;
  margin-right: 50px;
  margin-left: 50px;
}

#edit-recipe {
  text-align: left;
  color: blue;
}

#edit-recipe:hover {
  cursor: pointer;
}

.comp-name {
  max-width: 350px;
}

.component-name {
  line-height: 30px;
  display: inline-block;
}

.component-name:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  font-weight: 500;
}

#container {
  width: 400px;
  border: 1px solid black;
  position: relative;
}

#dessert-image-container {
  width: 500px;
  border: 1px solid black;
}

#dessert-image {
  width: 400px;
  border-radius: 5px;
}

#recipe {
  display: inline-block;
}

#recipe:hover {
  cursor: pointer;
}
#name {
  font-size: 25px;
  margin-bottom: 60px;
  position: relative;
  right: 50px;
}
#no-recipe-input {
  width: 200px;
}
#text-search-recipe {
  width: 200px;
  /* margin-right: 40px; */
  position: absolute;
  left: 9px;
}
#component-text-search-recipe {
  position: absolute;
  left: 215px;
}
button {
  cursor: pointer;
}
</style>
