<template>
  <div class="main">
    <p v-if="!placeholder" id="edit-recipe" @click="toEdit">Edit this dish</p>
    <div class="presentation">
      <div id="container">
        <h1 style="margin-top:0px; margin-bottom:15px;">{{ dessert.name }}</h1>
        <h3 style="margin-bottom:40px;" id="category"></h3>
        <h3>Components</h3>
        <div
          class="component-names"
          v-for="component in dessert.components"
          v-bind:key="component.id"
        >
          <div class="component-name" @click="openPage(component)">
            {{ component.name }}
          </div>
        </div>
        <div class="component-names">
          <div class="component-name" @click="displayAllRecipes">
            Display All Recipes
          </div>
        </div>
        <div style="margin-top: 100px;">
          <h3 id="recipe" @click="toRecipe" style="text-decoration: underline;">
            Instructions
          </h3>
        </div>
        <div style="margin-top: 60px; margin-bottom: 100px;">
          <h2>notes</h2>
          <div style="white-space: pre-wrap; text-align:left;">
            {{ dessert.notes }}
          </div>
        </div>
      </div>
      <div id="dessert-image-container">
        <div id="single-item-tab-image-gallery">
          <div id="img-container">
            <img
              id="single-item-image"
              alt="product's main image"
              :src="images[0].name"
              @click="showLightbox"
              :title="images[0].id"

            />
            <MyLightBox
              id="mylightbox"
              ref="lightbox"
              :images="images"
              :timeoutDuration="5000"
            ></MyLightBox>
          </div>
          <div id="single-item-image-tab">
            <div v-for="image in images" v-bind:key="image.id">
              <img
                :src="image.name"
                alt="image not found"
                class="tab-image"
                @click="changeImage"
                :title="image.id"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Lightbox from "vue-my-photos";
import MyLightBox from "../components/MyLightBox.vue";
export default {
  name: "Dessert",
  props: {
    query: String,
    // dessert: Object
  },
  components: {
    MyLightBox
  },
  data: function() {
    return {
      placeholder: false,
      images: [],
      dessert: null,
    };
  },
  methods: {
    showLightbox: function(evt) {
      const a = evt.target.getAttribute("title")
      window.console.log(a);
      this.$refs.lightbox.show(evt.target.src, evt.target.title);
    },
    toEdit: function() {
      this.dessert.images2 = this.images;
      this.$router.push({
        name: "EditDessert",
        query: { edit: JSON.stringify(this.dessert) }
      });
    },
    changeImage: function(evt) {
      document.getElementById("single-item-image").src = evt.target.src;
      document.getElementById("single-item-image").title = evt.target.title;
    },
    openPage: function(comp) {
      var page = comp.page;
      if (page == "no-recipe-component" || page == "probably-no-recipe") {
        alert("this component does not have a recipe");
        return;
      }
      if (!page) page = comp.path ;
      // page = page.substring(2,page.length)
      page = page.substring(2,page.length)
      let cmd = "cd && open " + '"' + page + '"';
      window.console.log(page);
      window.console.log(comp);
      // const cmd = "cd && cd desktop && cd all_recipes && ls"
      window.console.log(cmd);
      const { exec } = require("child_process");
      exec(cmd, (err,stdout,stderr) => {
        window.console.log('here is stdout and stderr');
        window.console.log(stdout);
          window.console.log(stderr);
          // if path is not good find a recipe in all_recipes that contains the same recipe name
          if(stderr.indexOf("The file")!=-1 && stderr.indexOf("does not exist")!=-1){
            window.console.log(`trying to find ${comp.name} somewhere else in all_recipes`);
            let name = comp.name;
            cmd = `cd && cd desktop/all_recipes && open \`find . -name "${name}.JSHN"\``;
            window.console.log(cmd);
            cmd = `cd && find desktop/all_recipes -name "${name}.JSHN"`;
              exec(cmd,(err,stdout,stderr)=>{
              window.console.log(`stdout2: ${stdout}`);
              window.console.log(`stderr2: ${stderr}`);

              //now trying to open (name from stdout)
              if(/\s/.test(stdout.charAt(stdout.length-1))) stdout = stdout.slice(0,stdout.length-1);
              cmd = `cd && open "${stdout}"`;
              window.console.log(stdout.charAt(stdout.length-1));
              window.console.log(/\s/.test(stdout.charAt(stdout.length-1))); //last character of  stdout may be a blank character (due to unix find?)
              exec(cmd,(err,stdout,stderr)=>{
              window.console.log(`stdout3: ${stdout}`);
              window.console.log(`stderr3: ${stderr}`);

              //now trying to open (name from stdout)
              
              if(err){
                window.console.log('here is the third error');
                window.console.log(err);
              }
            });

              if(err){
                window.console.log('here is the second error');
                window.console.log(err);
              }
            });


            // exec(cmd,(err,stdout,stderr)=>{
            //   window.console.log(`stdout: ${stdout}`);
            //   window.console.log(`stderr: ${stderr}`);
            //   if(err){
            //     window.console.log('here is the second error');
            //     window.console.log(err);
            //   }
            // });
            // get to recipes_folder
          }
        if (err) {
          // node couldn't execute the command
          window.console.log("error has occured!!!!!");
          window.console.log(err);
          
          return;
        }
      });
    },
    toRecipe: function() {
      this.$router.push({
        path: "/recipe",
        query: { recipestuff: this.dessert.instructions }
      });
    },
    displayAllRecipes: function(){
      // window.console.log(this.dessert.components);
      for(const comp  of this.dessert.components){
          var page = comp.page;
      if (page == "no-recipe-component" || page == "probably-no-recipe") {
        // alert("this component does not have a recipe");
        // return;
        continue;
      }
      this.openPage(comp);

      }
    },
  },
  beforeMount() {
    if (typeof this.query == "string") {
      this.query = JSON.parse(this.query);
    }
    if (!this.query) {
      // thlaceholder = true;
    } else {
      this.dessert = this.query;
      const cwd = process.cwd();
      var fs = require("fs");
      this.dessert.components = this.dessert.components.map(val => ({
        name: val.name.replace(".JSHN", "").replace(".pages", ""),
        // page: "src/database/components/"+val.name +".Pages"
        page: val.path,
        path: val.path
      }));
      // this.dessert.image = require("../database/images/" +
      //   this.dessert.image_url);
      // this.dessert.diagram = require("../database/diagrams/" +
      //   this.dessert.diagram_url);
      var id = 0;
      for (const pic of this.dessert.all_images) {
        var str;
        try {
          str = "src/database/" + pic;
          str = require("../database/" + pic);
        } catch (error) {
          window.console.log("require... not found asdfasdf");
          window.console.log(error);
          // str = "C:"+cwd+"/src/database/" + pic;
          try{
          var path = cwd + "/src/database/" + pic;
          str = new Buffer(fs.readFileSync(path)).toString("base64");
          str = "data:image/jpg;base64," + str;
          }
          catch(er){
            window.console.log("could not buffer file");
            window.console.log(er);
          }
          // window.console.log(str);
        }
        // str = str.replace(/\s/g, "%20");
        this.images.push({ name: str, id: id });
        id += 1;
      }
      // this.images.push(
      //   { name: this.dessert.image.replace(/\s/g, "%20") },
      //   { name: this.dessert.diagram.replace(/\s/g, "%20") }
      // );
      window.console.log(this.dessert);
      window.console.log(this.images);

    }
  },
  mounted(){
    if (this.dessert.category)
        document.getElementById("category").innerHTML = this.dessert.category;
    window.scrollTo(0,0);
  }
  
};
</script>

<style scoped>
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
}
.main {
  margin-top: 80px;
  margin-right: 50px;
  margin-left: 50px;
}

#edit-recipe {
  text-align: left;
  color: blue;
  position: relative;
  bottom: 20px;
  right: 20px;
}

#edit-recipe:hover {
  cursor: pointer;
}

/* .component-names{
  line-height: 30px;
} */

.component-name {
  line-height: 30px;
  display: inline-block;
}

.component-name:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  font-weight: 500;
}

#container {
  width: 400px;
}

#dessert-image-container {
  width: 500px;
}

/* #dessert-image {
  width: 400px;
  border-radius: 5px;
} */

#recipe {
  display: inline-block;
}

#recipe:hover {
  cursor: pointer;
}
.tab-image {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid;
  border-color: var(--global-color-primary);
}
.tab-image:hover {
  border: 2px solid;
  border-color: var(--global-color-primary);
  position: relative;
  right: 2px;
}
#single-item-image-tab {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#single-item-image {
  max-width: 400px;
  border-radius: 5px;
  height: 320px;
  cursor: pointer;
}
#img-container {
  height: 350px;
}
</style>
