<template>
  <div class="main">
    {{ change }}
    <button @click="submit" id="submit">Submit</button>
    <input type="text" name="name" id="name" :value="dessert.name" />
    <select name="categories" id="categoriese">
      <option value="" v-if="(!dessert.category || dessert.category=='')">--No category--</option>
      <option :value="dessert.category" v-if="(dessert.category)" selected="selected"> {{ dessert.category }} </option>
      <option
        v-for="category in categories"
        v-bind:key="category._id"
        :value="category"
      >
        {{ category }}
      </option>
    </select>
    <div class="presentation">
      <div id="container">
        <input
          type="file"
          id="selectedFile"
          style="display: none;"
          @change="_uploadFile"
          @click="_setNull"
          multiple
        />
        <button
          onclick="document.getElementById('selectedFile').click()"
          class="component-names component-name"
        >
          Add Component with FileSearch
        </button>
        <!-- Add a component<input type="file" class="component-names component-name" multiple> -->
        <br />
        <input type="text" name="component" id="no-recipe-input" />
        <button id="component-no-recipe" @click="addComponentNoRecipe">
          add component with no recipe
        </button>
                <div
          style="display:flex; flex-direction:row; justify-content:center; margin-right:77px;"
        >
          <SimpleSuggest
            id="text-search-recipe"
            style="width:205px;"
            v-model="chosen"
            :list="simpleSuggestionList"
            :filter-by-query="true"
          >
            <!-- Filter by input text to only show the matching results -->
          </SimpleSuggest>
          <button id="component-text-search" @click="addComponentTextSearch">
            add component
          </button>
        </div>
        <br />
        <br />
        <div class="component-names" v-for="name in names" v-bind:key="name.id">
          <div class="component-name">
            <span id="comp-name">{{ name }}</span>
            <span @click="removeComponent(name)" class="close">x</span>
          </div>
        </div>

        <div style="position: absolute; top: 481px; left:50px;">
          <button
            id="recipe"
            style="margin-right:55px;"
            @click="createComponent"
          >
            Create new component
          </button>
          <br />
          <br />
          <p style="margin-right:55px;">Notes:</p>
          <textarea
            id="notes"
            rows="10"
            cols="50"
            :value="dessert.notes"
            style="margin-right:55px;"
          ></textarea>
          <div style="margin-top: 70px; margin-right:55px;">
            <p style="margin-right:55px;">Dish instructions:</p>
            <textarea
              id="instructions"
              rows="10"
              cols="50"
              :value="dessert.instructions"
            ></textarea>
          </div>
        </div>
      </div>
      <div id="dessert-image-container">
        <br />
        <vue-upload-multiple-image
          style="margin-left:100px;"
          id="testing"
          @upload-success="uploadImageSuccess"
          @before-remove="beforeRemove"
          @edit-image="editImage"
          @mark-is-primary="markPrimary"
          :data-images="dessert.images"
          dragText="upload image"
          browseText
          primaryText="primary image"
          markIsPrimaryText="make primary image"
          popupText="this image will be displayed when browsing"
          :maxImage="6"
        ></vue-upload-multiple-image>
        <!-- <div>
          change picture 
          <input
            type="file"
            accept="image/*"
            @change="_uploadImageFile"
            @click="_setNull"
            id="dessert-imag"
          />
          <img :src="imageUrl2" alt="error image not showing" id="image" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
          change diagram
          <input
            type="file"
            accept="image/*"
            @change="_uploadDiagramFile"
            @click="_setNull"
            id="dessert-diagram"
          />
          <img :src="diagramUrl2" alt="error image not showing" id="diagram" />
        </div>-->
        <button
          style="margin-top:130px; width:140px; height:50px; font-size:16px;"
          @click="deleteDessert"
        >
          Delete Dessert
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import VueUploadMultipleImage from "vue-upload-multiple-image";
import SimpleSuggest from "../components/SimpleSuggestion";
import "vue-simple-suggest/dist/styles.css"; // Optional CSS
export default {
  name: "EditDessert",
  props: {
    query: String,
    change: Number,
  },
  components: {
    VueUploadMultipleImage,
    SimpleSuggest
  },
  data: function() {
    return {
      queue: [], //this.dessert.components,
      names: [],
      images: [],
      categories: [],
      allComponents: [],
            chosen: "",
      myMap: new Map(),
    };
  },
  watch: {
    change: function() {
      window.console.log("QQQQQQ");
      this.reload();
    }
  },
  computed: {
    dessert: function() {
      var desserta;
      if (typeof this.query == "string") {
        desserta = JSON.parse(this.query);
        desserta.components = desserta.components.map(val => ({
          name: val.name.replace(".JSHN", ""),
          // page: "src/database/components/"+val.name +".Pages"
          page: val.path,
          path: val.path
        }));
        desserta.images = [];
        var b=-1;
        window.console.log(desserta);
        for (const a of desserta.all_images) {
          b+=1;
        //   // try{
        //   //   // throw new Error('I was constructed via the "new" keyword!');
        //   // // const p = require("../database/" + a);
        //   // // desserta.images.push({ path: p, old: true, real_path:a });
        //   // }
        //   // catch(err){
        //     // window.console.log(err);
            desserta.images.push({path: desserta.images2[b].name, old:true, real_path: a})
          // }
        }
      }
      return desserta;
    },
        allComponentNames: function() {
      const path = require("path");
      return this.allComponents.map(val => {
        const name = path.basename(val).replace(/.JSHN/i, "");
        this.myMap.set(name, val);
        return name;
      });
    }
  },
  beforeMount() {
        var recursive = require("recursive-readdir");
            var cwd = process.cwd()
    let ind  = cwd.indexOf("desktop/");
    let path = "../../desktop/all_recipes/";
    if(ind!=-1){
      let paths = cwd.split('/').filter((val)=>val!="");
      window.console.log(paths);
      // for ever folder between desktop and the final folder add ../ to path
      paths.indexOf("desktop");
      path="";
      for(let i =0;i<=paths.length-paths.indexOf("desktop")-2;i+=1){
        path+="../"
      }
      path+="desktop/all_recipes/"
    }
    if(process.cwd()=="/Users") path = "./aaronfriedman/desktop/all_recipes"
    recursive(path, function(err, files) {
      if (err) window.console.log(err);
      else {
        files = files.filter(val => {
          return (
            val.substr(val.length - 6, 6).match(/.JSHN/i) != null && val.match(/DS_S/i) == null
          );
        });
        tis.allComponents = files;
        window.console.log("files!");
        window.console.log(files);
      }
    });
    //add component names to names
    window.console.log(this.dessert);
    // window.console.log(typeof this.dessert);
    // window.console.log(require("../database/"+this.dessert.all_images[0]))
    //   this.names=this.dessert.components.names;
    for (var comp of this.dessert.components) {
      this.names.push(comp.name);
      this.queue.push(comp);
    }
    this.images = this.dessert.images;

    var tis = this;
    this.$db.data.find({ name: "categories" }, function(err, docs) {
      if (err) throw err;
      // if categories is null insert a doc
      if (docs.length == 0) {
        tis.$db.data.insert({
          name: "categories",
          info: "list of strings",
          values: []
        });
        tis.categories = [];
      } else {
        tis.categories = docs[0].values;
        if(tis.dessert.category)tis.categories.splice(tis.categories.indexOf(tis.dessert.category),1);
      }
    });
  },
  // mounted() {
  //   // for (const a of document.getElementById("categoriese").children) {
  //   //   window.console.log(a);
  //   //   window.console.log(a.value);
  //   //   if (a.value === this.dessert.category) {
  //   //     a.selected = "selected";
  //   //     window.console.log("success: ");
  //   //     window.console.log(a);
  //   //   }
  //   // }
    
  //   window.console.log("aaaa  "+ this.categories.indexOf(this.dessert.category))
  // },
  methods: {
    reload: function() {
      var tis = this;
      this.$db.data.find({ name: "categories" }, function(err, docs) {
        if (err) throw err;
        // if categories is null insert a doc
        if (docs.length == 0) {
          tis.$db.data.insert({
            name: "categories",
            info: "list of strings",
            values: []
          });
          tis.categories = [];
        } else {
          tis.categories = docs[0].values;
          if(tis.dessert.category)tis.categories.splice(tis.categories.indexOf(tis.dessert.category),1);
        }
      });
    },
    uploadImageSuccess: function(formData, index, fileList) {
      window.console.log("data", formData, index, fileList);
      this.images = fileList;
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
    },
    beforeRemove: function(index, done, fileList) {
      //   window.console.log("index", index, fileList);
      done();
      this.images = fileList;
    },
    editImage: function(formData, index, fileList) {
      window.console.log("edit data", formData, index, fileList);
      this.images = fileList;
    },
    markPrimary: function(index, fileList) {
      this.images = fileList;
    },
    deleteDessert: function() {
      var tis = this;
      if (confirm("Are you sure you want to delete this Dish?")) {
        this.$db.desserts.remove({ _id: this.dessert._id }, {}, function(
          err,
          numRemoved
        ) {
          if (err) window.console.log(err);
          window.console.log(numRemoved);
          tis.$router.push({ path: "/" }); // push browse
        });
      } else {
        // Do nothing!
      }
    },
    createComponent: function() {
      const cmd = "open -na tuggle";
      const { exec } = require("child_process");
      exec(cmd, (err, stdout, stderr) => {
        if (err) {
          window.console.log(err);
          return;
        }
        if (stdout) window.console.log(stdout);
        if (stderr) window.console.log(stderr);
      });
    },
    removeComponent: function(name) {
      const index = this.names.indexOf(name);
      if (index !== -1) {
        this.names.splice(index, 1);
        this.queue.splice(index, 1);
      }
    },
    submit: function() {
      for (var x of this.queue) {
        window.console.log(x);
      }
      // get data
      var category = document.getElementById("categoriese").value;
      window.console.log("category: " + category);
      if (category === "") category = null;
      const name = document.getElementById("name").value;
      const notes = document.getElementById("notes").value;
      const instructions = document.getElementById("instructions").value;
      const components = this.queue.map(val => ({
        name: val.name.replace(".JSHN", ""),
        // path: val.path.substr(val.path.match(/components/).index + 11, val.path.length)
        path: val.path
      }));

      var fs = require("fs");
      const urls = [];
      try{
      for (const img of this.images) {
        if (!img.old) {
          var url = "all_images/" + name + this.makeid(6) + img.name;
          if (url.substr(url.length - 4, url.length - 1).match(/jpg/i)) {
            url = url.substr(0, url.length - 4) + ".jpg";
          }
          fs.copyFileSync(img.real_path, "src/database/" + url);
          urls.push(url);
        } else {
          urls.push(img.real_path);
        }
      }
      }
      catch(err){
        window.console.log('image uploading error has been caught');
              for (const img of this.images) {
        if (!img.old) {
          url = "all_images/" + name + this.makeid(6) + img.name;
          if (url.substr(url.length - 4, url.length - 1).match(/jpg/i)) {
            url = url.substr(0, url.length - 4) + ".jpg";
          }
          fs.copyFileSync(img.real_path, "aaronfriedman/desktop/project/cookbook/src/database/" + url);
          urls.push(url);
        } else {
          urls.push(img.real_path);
        }
      }
      }
      const all_images = urls;
      window.console.log(all_images);
      //STORE DESSERT IN databse
      var tis = this;
      const tem = {
        _id: this.dessert._id,
        name,
        notes,
        instructions,
        components,
        all_images,
        category
      };
      //   window.console.log(tem)
      this.$db.desserts.update(
        { _id: tis.dessert._id },
        { name, notes, instructions, components, all_images, category },
        {},
        function(err, numReplaced) {
          if (err) window.console.log(err);
          window.console.log(numReplaced + "asdf");
          //   window.console.log(tis.dessert)
          tis.$router.push({
            name: "dessert",
            query: { stuff: JSON.stringify(tem) }
          });
        }
      );
    },
    _uploadFile: async function(event) {
      const files = event.target.files;

      this.queue.push(...files);
      for (const file of files) {
        this.names.push(file.name.replace(".JSHN", ""));
      }
    },
        addComponentTextSearch: function() {
      //get text in input
      const text = document.getElementById("text-search-recipe").value;
      // check if text is in names if not return
      if (this.allComponentNames.indexOf(text) === -1) return;
      this.names.push(text);
      this.queue.push({ name: text, path: this.myMap.get(text) });
      window.console.log({ name: text, path: this.myMap.get(text) });
    },
    _uploadImageFile: async function(event) {
      const file = event.target.files[0];
      this.imageFile = file;
      this.imageUrl = file.path;
      var reader = new FileReader();

      reader.onload = function(e) {
        document.getElementById("image").src = e.target.result;
      };

      reader.readAsDataURL(file);
    },
    _uploadDiagramFile: async function(event) {
      const file = event.target.files[0];
      this.diagramFile = file;
      this.diagramUrl = file.path;
      var reader = new FileReader();

      reader.onload = function(e) {
        document.getElementById("diagram").src = e.target.result;
      };

      reader.readAsDataURL(file);
    },
    _setNull: function(event) {
      event.target.value = null;
    },
    makeid: function(length) {
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      return result;
    },
    addComponentNoRecipe: function() {
      const str = document.getElementById("no-recipe-input").value;
      this.names.push(str);
      this.queue.push({ name: str, path: "no-recipe-component" });
    },
    simpleSuggestionList() {
      return this.allComponentNames;
    }
  }
};
</script>

<style scoped>
.close {
  cursor: pointer;
  position: absolute;
  left: 365px;
  font-family: Verdana, sans-serif;
  font-size: 19px;
}
#submit {
  margin-top: 100px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  position: absolute;
  left: 80%;
  top: 100px;
}
#submit:hover {
  cursor: pointer;
}
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
}
.main {
  margin-top: 80px;
  margin-right: 50px;
  margin-left: 50px;
}

#edit-recipe {
  text-align: left;
  color: blue;
}

#edit-recipe:hover {
  cursor: pointer;
}

.component-name {
  line-height: 30px;
  display: inline-block;
}

.component-name:hover {
  cursor: pointer;
  font-weight: 500;
}

#container {
  width: 400px;
  border: 1px solid black;
  position: relative;
}

#dessert-image-container {
  width: 500px;
  /* border: 1px solid black; */
}

#dessert-image {
  width: 400px;
  border-radius: 5px;
}

#recipe {
  display: inline-block;
}

#recipe:hover {
  cursor: pointer;
}
#name {
  font-size: 25px;
  margin-bottom: 60px;
  position: relative;
  right: 50px;
}
img {
  width: 280px;
}
#no-recipe-input {
  width: 200px;
}
button{
  cursor: pointer;
}
</style>
