<template>
    <div>
        <div id="top-bar">
            <button @click="createFolder">new folder</button>
            <div id="name-input" v-if="show">
                <input type="text" name="" id="folder-name" >
                <button type="submit" @click="submit"> submit</button>
            </div>
        </div>
        <div id="folder-display">
                  <div
        v-for="folder in folders"
        v-bind:key="folder._id"
      >
        <div> {{folder.name}} </div>
      </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"Folders",
    data: function(){
        return{
            folders:[],
            show: false
        }
    },
    methods:{
        createFolder: function(){
            this.show = !this.show
        },
        submit: function(){
            //get new folder name
            const name = document.getElementById("folder-name").value;
            if(name.length==0) {
                this.show = false
                return
            }
            // insert in db
            this.$db.folders.insert({name})
            //append to this.folders
            this.show = false
            this.folders.push({name})
        }
    },
    beforeMount(){
        // get folders information and what not
        // const that = this;
        // this.$db.folders.find({},(docs,err)=>{
        //     if(err) throw err;
        //     that.folders = docs;
        // })

        //temporary, get rid of this filler code below
        this.folders.push({name:'chocolate deserts'})
    }
}
</script>

<style scoped>
#top-bar{
    height: 100px;
}
</style>