<template>
  <div id="header">
    <div id="back-forward">
      <button class="go-back" @click="goBack">&larr;</button>
      <button class="go-back" @click="goForward">&rarr;</button>
    </div>
    <p id="edit-recipe">
      <span @click="browse">Browse desserts</span>

      <span style="color: black;"> | </span>
      <span @click="settings">Settings</span>
      <span style="color: black;"> | </span>
      <span @click="folders">Folders</span>
    </p>
    <h1>Cookbook</h1>
    <SearchBar id="search-bar" />
    <button @click="createDessert" id="create-dessert">Create a dessert</button>
  </div>
</template>

<script>
import SearchBar from "../components/SearchBar.vue";
export default {
  name: "Header",
  components: {
    SearchBar
  },
  methods: {
    browse: async function() {
      this.$router.push({
        path: "/",
        query: { info: "" }
      });
    },
    createDessert: function() {
      window.console.log(this.$router.push("/createDessert"));
    },
    goBack: function() {
      window.history.length > 1 ? this.$router.go(-1) : false;
    },
    goForward: function() {
      this.$router.go(1);
    },
    settings: function() {
      this.$router.push("/settings");
    },
    folders: function() {
      this.$router.push("/folders");
    }
  },
  created() {
    // get header color from db
    const that = this;
    this.$db.settings.find({ name: "header-color" }, function(err, docs) {
      if (err) window.console.log(err);
      else {
        if (docs.length == 0) {
          that.$db.settings.insert({ name: "header-color", color: "#ffa500" });
          document.getElementById("header").style.backgroundColor = "#ffa500";
        } else {
          document.getElementById("header").style.backgroundColor =
            docs[0].color;
          that.$datum.headerColor = docs[0].color;
        }
      }
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.go-back {
  width: 40px;
  height: 25px;
  font-size: 18px;
}
#back-forward {
  position: absolute;
  left: 10px;
  top: 10px;
}
#header {
  position: relative;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#edit-recipe {
  position: absolute;
  bottom: -5px;
  left: 5px;
  color: blue;
}

#edit-recipe:hover {
  cursor: pointer;
}

#search-bar {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-left: 50px;
}

#flex-box-container {
  display: flex;
  flex-direction: row;
}

#create-dessert {
  position: absolute;
  left: 80%;
  height: 50px;
  width: 180px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
</style>
