<template>
    <div>
        <p id="go-back" @click="goBack">back to dessert</p>
        <h3 id="title">instructions</h3>
        <div id="ingrediants"> </div>
        <div id="instructions"> {{ query }} </div>
        <div id="tips"></div>
        <!-- <img src="../data/images/test.jpg" alt=""> -->
    </div>
</template>

<script>
export default {
    name: "Recipe",
    props:{
        query: String,
    },
    methods:{
        goBack: function(){
            this.$router.back();
        }
    },
    mounted(){
        window.scrollTo(0,0);
    },
}
</script>

<style scoped>
#go-back{
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    color: blue;
}
#go-back:hover{
    cursor: pointer;
}
#title{
    padding-top: 10px;
}
#instructions{
    width:70%;
    margin-right: auto;
    margin-left: auto;
    white-space: pre-wrap; 
    text-align:left;
}
</style>