<template>
  <div>
    <h2>Settings</h2>
    Header Color:
    <input
      type="color"
      name
      id="header-color"
      @change="changeHeaderColor"
      :value="$datum.headerColor"
    />
    <br />
    <button @click="confirmChange">Save Color Change</button>
    <button @click="resetColor">Reset to default color</button>
    <!-- <button @click="migrate">Migrate</button> -->
    <button @click="backUp">backup data</button>
    <input type="file" @change="getBackUp" @click="_setNull" /> get backkup
    <br />
    <br />
    <br />
    Component search suggestion size
    <select
      name="max-suggestions"
      id="max-suggestions"
      v-if="suggestion_lengths.length > 0"
      @change="updateMaxS"
    >
      <option
        v-for="num of suggestion_lengths"
        :key="num"
        :value="num"
        :selected="f(num)"
        >{{ num }}</option
      >
    </select>
    ( default is 10 )
    <br />
    <br /><br />
    <br />
    <button @click="getUpdate">get latest update</button>
    <br />
    <br />
    <!-- <button @click="updateDessertRecipePath" style="dispaly:none">
      Update Dessert recipes
    </button> -->
    <br />
    <br />
    <button @click="fixRecipeNames">fix recipe names</button>
    <br />
    <br />
    <div id="updating" style="display:none; white-space: pre-line;">
      Getting the latest update... please wait <span id="wait"></span>
    </div>
    <br />
    <p
      id="update-message"
      style="white-space: pre-line; text-align:left; width:500px; margin-left:auto; margin-right:auto;"
    ></p>
  </div>
</template>

<script>
import  recipeStuff  from "../scripts/correctRecipeName.js";
import the_big_string from "../scripts/bashString.js";
export default {
  name: "Settings",
  data: function() {
    const s = [];
    for (var i = 1; i < 30; i += 1) {
      s.push(i);
    }
    return {
      max_suggestions: -1,
      min_length: -1,
      suggestion_lengths: s,
      temp_color: this.$datum.headerColor
    };
  },
  methods: {
    changeHeaderColor: function(evt) {
      document.getElementById("header").style.backgroundColor =
        evt.target.value;
      window.console.log(evt.target.value);
      this.temp_color = evt.target.value;
    },
    resetColor: function() {
      this.$datum.headerColor = "#ffa500";
      document.getElementById("header-color").value = "#ffa500";
      this.$db.settings.update(
        { name: "header-color" },
        { $set: { color: "#ffa500" } }
      );
      document.getElementById("header").style.backgroundColor = "#ffa500";
      this.$db.desserts.find({}, function(err, docs) {
        window.console.log(err);
        window.console.log(docs);
      });
    },
    confirmChange: function() {
      this.$datum.headerColor = this.temp_color;
      const col = this.temp_color;
      this.$db.settings.update(
        { name: "header-color" },
        {
          $set: {
            color: col
          }
        }
      );
    },
    migrate: function() {
      var desserts = this.$db.desserts;
      desserts.find({}, function(err, docs) {
        if (err) window.console.log(err);
        else {
          window.console.log("migrating the database");
          window.console.log(docs);
          for (const dessert of docs) {
            // check if image and diagram are contained in all_images
            // check if fiel all_images exist if not add it
            if (!dessert.all_images) {
              var arr = [
                "images/" + dessert.image_url,
                "diagrams/" + dessert.diagram_url
              ];
              desserts.update(
                { _id: dessert._id },
                { $set: { all_images: arr } },
                {},
                function(err) {
                  window.console.log(err);
                }
              );
              window.console.log("aaaaaa11111");
            } else {
              if (dessert.all_images.indexOf(dessert.image_url) == -1) {
                desserts.update(
                  { _id: dessert._id },
                  { $push: { all_images: "images/" + dessert.image } },
                  {},
                  err => {
                    window.console.log(err);
                  }
                );
                window.console.log("bbbbbbbb2222");
              }
              if (
                dessert.all_images ||
                dessert.all_images.indexOf(dessert.diagram_url) == -1
              ) {
                desserts.update(
                  { _id: dessert._id },
                  { $push: { all_images: "diagrams/" + dessert.diagram } },
                  {},
                  err => {
                    window.console.log(err);
                  }
                );
                window.console.log("cccccccc33333");
              }
            }
          }
        }
      });
    },
    backUp: function() {
      this.$db.desserts.find({}, function(err, docs) {
        if (err) window.console.log(err);
        else {
          var fs = require("fs");
          var data = JSON.stringify(docs);
          var randLetter = String.fromCharCode(
            65 + Math.floor(Math.random() * 26)
          );
          var uniqid = randLetter + Date.now();
          var path = "../backup/desserts_" + uniqid + ".JSON";
          fs.stat("../backup", function(err) {
            if (!err) {
              fs.writeFile(path, data, function(err) {
                if (err) throw err;
                window.console.log("Saved!");
              });
            } else if (err.code === "ENOENT") {
              window.console.log("creating a backup directory");
              require("fs").mkdir("../backup", function(err) {
                if (err) throw err;
                fs.writeFile(path, data, function(err) {
                  if (err) throw err;
                  window.console.log("Saved!");
                });
              });
            }
          });
        }
      });
    },
    _setNull: function(event) {
      event.target.value = null;
    },
    getBackUp: function(event) {
      // window.console.log("direcory: ");
      // window.console.log(__dirname);

      const file = event.target.files[0];
      // get contents of latest backup file
      var fs = require("fs");
      const tis = this;
      // var latest_file="0";
      // var numberPattern = /\d+/g
      this.$db.desserts.remove({}, { multi: true }, function(err, numRemoved) {
        window.console.log("number of desserts delted: " + numRemoved);
        fs.readFile(file.path, function(err, data) {
          if (err) throw err;
          const obj = JSON.parse(data);
          window.console.log(data);
          window.console.log(obj);
          // now update all desserts
          for (const des of obj) {
            const {
              name,
              components,
              notes,
              instructions,
              all_images,
              created_at
            } = des;
            tis.$db.desserts.insert(
              { name, components, notes, instructions, all_images, created_at },
              function(err, newDoc) {
                if (err) throw err;
                window.console.log(newDoc);
              }
            );
          }
          window.console.log("done updating");
        });
      });
    },
    f: function(num) {
      const ms = Number(this.$datum.max_suggestions);
      if (num === ms) return "selected";
      return "";
    },
    updateMaxS: function(e) {
      const new_val = Number(e.target.value);
      this.$datum.max_suggestions = new_val;
      window.console.log("udpated max_suggestions to: " + new_val);
      this.$db.settings.update(
        { name: "max_suggestions" },
        { $set: { value: new_val } },
        (err, numReplaced) => {
          window.console.log(err, numReplaced);
        }
      );
    },
    getUpdate: function() {
      document.getElementById("updating").innerHTML =
          "Getting the latest update... please wait";


      document.getElementById("updating").style.display = "block";

      var path = require("path");
      var nwDir = path.dirname(process.execPath);
      window.console.log(process);
      window.console.log(nwDir);
      // const cmd = "cd && cd desktop/project/cookbook && chmod u+x update.sh && ./update.sh";
      // const cmd = "npm run electron:build";
      const cmd = the_big_string.the_big_string;
      window.console.log(cmd);
      const { exec } = require("child_process");
      exec(cmd, (err, stdout, stderr) => {
        if (err) {
          // node couldn't execute the command
          window.console.log("error has occured!!!!!");
          window.console.log(err);
          err = err.message;
          if(err.indexOf("error: Your local changes to the following files would be overwritten by merge")!=-1){
          document.getElementById("update-message").style = "display:none;";
          const merge_files = err.substr(err.indexOf("error: Your local changes to the following files would be overwritten by merge")+78,err.indexOf("Please commit your changes or stas")-129);
          window.console.log("adsf "+ merge_files);
          document.getElementById("updating").innerHTML =
            "There is a merge conflict with "+merge_files +" \n please contact josh";
        }
          return;
        }
        document.getElementById("updating").innerHTML =
          "Update Complete! Close and re-open the app for the latest update";
        // the *entire* stdout and stderr (buffered)
        window.console.log(`stdout: ${stdout}`);
        window.console.log(`stderr: ${stderr}`);
        if (stdout.indexOf("already have the latest") != -1) {
          document.getElementById("update-message").style = "display:none;";
          document.getElementById("updating").innerHTML =
            "You already have the latest updates";
        }
        else if(stdout.indexOf("error: Your local changes to the following files would be overwritten by merge")!=-1){
          document.getElementById("update-message").style = "display:none;";
          const merge_files = stdout.substr(stdout.indexOf("error: Your local changes to the following files would be overwritten by merge"),stdout.indexOf("Please commit your changes or stas"));
          document.getElementById("updating").innerHTML =
            "There is a merge conflict with "+merge_files +"\n please contact josh";
        }

      });
    },
    updateDessertRecipePath: function(){
      //change all recipe paths for every dessert
      //
      // const settings = this.$db.settings;
      const desserts = this.$db.desserts;
      const RECIPE_FOLDER_PATH = "~/desktop/all_recipes"; // folder path
try{
// settings.find({ name: "update_recipe_paths" }, (err, docs) => {
//   if (err) throw err;
//   if (docs.length == 0) {
    window.console.log("AAAAAAAAAAAAAAAAAAAAAA");
    // const path = require('path');
    desserts.find({}, function(err, docs) {
      window.console.log("updating process starting");
      if (err) throw err;
      for (const dessert of docs) {
        // window.console.log(dessert);
        var new_paths = dessert.components.map(val => {
          return val.path;
        });
        // desserts.update(dessert)
        // if path contains .pages transform it, else let it be
        new_paths = new_paths.map(val => {
          if (
            val.substring(val.length - 6, val.length) == ".pages"
          ) {
            // how are we going to get the pure path of the recipe?
            // assume root folder of recipe is /recipes/
            var folders = val.split("/");
            var important_path = "";
            var important = false;
            window.console.log(folders);
            for(const folder of folders){
              window.console.log(folder);
              if(important){
                  important_path+="/"

                important_path+=folder;
              }
              if(folder=="recipe" || folder=="recipes" || folder=="recipes copy" || folder=="all_recipes"){
                window.console.log(folder);
                important= true;
              }
            }
            important_path = important_path.substring(0,important_path.length-6) + ".JSHN";
            const full_path = RECIPE_FOLDER_PATH + important_path;
            return full_path;
          } else {
            return val;
          }
        });
        window.console.log(new_paths);
        // const udpated_recipes=[];
        for(var i=0;i<dessert.components.length;i+=1){
          dessert.components[i].ancient_path_0 = dessert.components[i].path;
          dessert.components[i].path = new_paths[i];
          // components[i].page = new_paths[i];
          // udpated_recipes.push({name:dessert.components[i].name,path:new_paths[i],page:new_paths[i],ancient_path_0:dessert.components[i].path})
        }
        desserts.update({_id:dessert._id},{$set:{components: dessert.components}},(err,numReplaced)=>{
          if(err) throw err;
          window.console.log(dessert.name+' updated. '+numReplaced + " recipes updated");
        });
      }
    });


    // settings.insert(
    //   { name: "update_recipe_paths", value: true },
    //   (err, newDoc) => {
    //     //lastly do not repeat this procss ever, (in fact, try to delte it in a future commit)
    //     if (err) throw err;
    //     else {
    //       window.console.log("udpate recipe placed");
    //       window.console.log(newDoc);
    //     }
    //   }
    // );
//   }
//   else{
//     window.console.log('recipe update has already been completed');
//   }
// });
}

catch(err){
  alert("uh oh error has occured");
  window.console.log('ERROR DESCRIBED BELLOW WHILE TRYING TO YUPDATE THE RECIPE PATHS');
  window.console.log(err);
}
    },
    fixRecipeNames: function(){
      // const fix = require("../scripts/correctRecipeName.js");
      // import fix from ../
      // fix();
      // recipeStuff();
      recipeStuff.recipeStuff();
    }
  },
  mounted() {
    // get some settings

  }
};
</script>

<style scoped>
button {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}
#wait {
  position: absolute;
}
</style>
