<template>
  <div id="sidebar">
    <div id="close-sidebar" @click="collapseSideBar">&larr;</div>
    <br />
    <p>select a category for your workspace</p>
    <select name="categories" id="categories" @change="updateWorkSpace">
      <option value="All">All</option>
      <option
        v-for="category in categories"
        v-bind:key="category._id"
        :value="category"
      >
        {{ category }}
      </option>
    </select>
    <br />
    <br>
    <p @click="toggleCreate" id="create">
      <i class="arrow down" v-if="show_create"></i>
      <i class="arrow right" v-else></i> create
    </p>
    <div v-if="show_create">
      <input type="text" id="newCategory" />
      <button @click="addCategory">create category</button>
      <!-- <input type="text"> <button @click="add"> add Tag </button> -->
    </div>
    <br>
        <p @click="toggleDelete" id="create">
      <i class="arrow down" v-if="show_delete"></i>
      <i class="arrow right" v-else></i> delete
    </p>
    <div v-if="show_delete">
      <input type="text" id="deleteCategory" />
      <button @click="deleteCategory">delete category</button>
      <!-- <input type="text"> <button @click="add"> add Tag </button> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  data: function(){
      return{
          categories: ["testA","testB","testC","testD"],
          show_create: false,
          show_delete: false,
      }
  },
  watch:{
    categories: function(val){
      this.$datum.categories = val;
      window.console.log("cat has changed")
      
    }
  },
  methods: {
    collapseSideBar: function() {
        // document.getElementById("sidebar-app").style.display = "none";
      document.getElementById("sidebar-app").style.width = "0px";
      document.getElementById("sidebar-app").style.maxWidth = "0px";
      document.getElementById("sidebar-app").style.minWidth = "0px";
      document.getElementById("side-bar-activator").style.display = "block";
      document.getElementById("sidebar-app").style.border = "none";
    },
    // MAKE IT SO THAT YOU CAN ONLY BROWSE DESSERTS IN THAT CATEGORY
    updateWorkSpace: function(evt){
        const val = evt.target.value;
        window.console.log(val);
        this.$datum.workspace = val;
        this.$emit("workspace-update");
    },
    toggleCreate: function(){
        this.show_create = !this.show_create;
    },
    toggleDelete: function(){
        this.show_delete = !this.show_delete;
    },
    addCategory: function(){
        const name = document.getElementById("newCategory").value;
        if(name==="") return;
        if(name==="All") {
          alert("All already exists");
          return;
        }
        if(this.categories.indexOf(name)>-1){
            alert("category "+name+" already exists");
            return;
        }
        // insert new category in db
        this.$db.data.update({name:"categories"},{$push:{values:name}},{},()=>{this.categories.push(name)});
        this.$emit('categories-updated');
        document.getElementById("newCategory").value="";
    },
      deleteCategory: function(){
        const name = document.getElementById("deleteCategory").value;
        if(name==="") return;
        if(name==="All"){
            alert("You cannot delete all dude");
            return;
        }
        const index = this.categories.indexOf(name);
        if(index>-1){
            this.categories.splice(index,1);
        // update db
        this.$db.data.update({name:"categories"},{$set:{values:this.categories}},(err)=>{
            if(err) throw err;
            // window.consosle.log(numReplaced);
        });
         document.getElementById("deleteCategory").value = ""; 
        }
        else{
            alert("category "+name+" doesn't exist");
        }
        this.$emit('categories-updated');
    }
  },

  mounted(){
      var tis = this;
          this.$db.data.find({name:"categories"},function(err,docs){
              if(err) throw err;
              // if categories is null insert a doc
              if(docs.length==0){
                  tis.$db.data.insert({name:"categories",info:"list of strings", values:[]});
                  tis.categories = [];
                  tis.$datum.categories = [];
              } 
              else{
                  tis.categories = docs[0].values;
                  tis.$datum.categories = tis.categories;
              }
          });

  }
};
</script>

<style scoped>
/* #sidebar {
  background-color: beige;
  z-index: 1;
  max-width: 350px;
  height: 100vh;
  border: 2px solid black;
} */
#close-sidebar {
  font-size: 18px;
  text-align: right;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

i {
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#create {
  cursor: pointer;
  display: inline-block;
}
</style>
