<template>
  <div>
    <div @click="goToDessert" id="card-d" v-if="showImage">
      <img :src="url" alt="" />
      <h3>{{ dessert.name }}</h3>
    </div>
    <div v-if="!showImage" id="card-without-image-d" @click="goToDessert">
      <h3>{{ dessert.name }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: "DessertCard",
  props: {
    dessert: Object,
    showImage: Boolean
  },
  computed: {
    url: function() {
      try {
        var a = require("../database/" + this.dessert.all_images[0]);
        return a;
      } catch (error) {
        if(error)window.console.log("module not found");
        const pic = this.dessert.all_images[0];
        var str;
        var path = process.cwd() + "/src/database/" + pic;
        var fs = require("fs");
        str = new Buffer(fs.readFileSync(path)).toString("base64");
        str = "data:image/jpg;base64," + str;
        return str;
      }
    }
  },
  methods: {
    goToDessert: function() {
      this.$router.push({
        name: "dessert",
        query: { stuff: JSON.stringify(this.dessert) }
      });
    }
  }
};
</script>

<style scoped>
#card-d {
  width: 200px;
  height: 320px;
  border: 1px solid grey;
  cursor: pointer;
}
img {
  width: 200px;
  height: 230px;
}
h3 {
  margin: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
#card-without-image-d {
  max-width: 200px;
  min-width: 200px;
  text-align: left;
  cursor: pointer;
}
</style>
