<template>
  <div id="app">
    <Header />
    <div id="side-bar-activator" @click="openSideBar">≡</div>
    <div id="flex-container">
      <SideBar
        id="sidebar-app"
        class="sidebar"
        v-on:categories-updated="updateChange"
        v-on:workspace-update="updateWorkspace"
      />
      <div id="main">
        <router-view v-bind:change="changeNumber" v-bind:workspaceNumber="wn" />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./views/Header.vue";
import SideBar from "./views/SideBar.vue";
export default {
  name: "app",
  data: function() {
    var height;
    try {
      if (height) height = document.getElementById("main").height;
    } catch (error) {
      window.console.log("could not get height of main");
      window.console.log(error);
    }
    return {
      changeNumber: 0, // change in number signifies new or deleted category
      wn: 0, // change in number signifies change in workspace (increments by 1)
      sideBarHeight: height
    };
  },
  components: {
    Header,
    SideBar
  },
  methods: {
    updateWorkspace: function() {
      window.console.log("workspace change captured");
      this.wn += 1;
    },
    openSideBar: function() {
      // document.getElementById("sidebar-app").style.display = "block";
      document.getElementById("sidebar-app").style.width = "200px";
      document.getElementById("sidebar-app").style.maxWidth = "200px";
      document.getElementById("sidebar-app").style.minWidth = "200px";
      document.getElementById("sidebar-app").style.border = "solid black 1px";
      document.getElementById("side-bar-activator").style.display = "none";
    },
    updateChange: function() {
      window.console.log("event captured");
      this.changeNumber += 1;
    },

  },

  mounted() {
    this.$router.push({ path: "/" });
    var that = this;
      this.$db.settings.find(
        { name: "max_suggestions" },
        (err, docs) => {
          window.console.log("nicenicenicenicenice");
          if (err) throw err;
          if (docs.length == 0) {
            that.$datum.max_suggestions = 10;
            that.$db.settings.insert({
              name: "max_suggestions",
              value: 10
            });
          }
          else if (docs.length > 1) {
            window.console.log("too many docs, there should only be one");
            window.console.log(docs);
          }
          else{
            that.$datum.max_suggestions = docs[0].value;
          }
        }
      );
  },
  beforeMount() {
    // const that =this;
  }
};
</script>

<style>
html,
body {
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px !important;
  margin-top: 60px;
}
#main {
  min-height: 65vh;
  flex-grow: 5;
}

#side-bar-activator {
  position: absolute;
  left: 20px;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}

#sidebar-app {
  width: 0px;
  max-width: 0px;
  transition: 0.3s;
  overflow-x: hidden;
  flex-grow: 4;
  /* display: none; */
}

#flex-container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: beige;
  z-index: 1;
  max-width: 350px;

  height: 120vh;
  /* overflow-y: hidden; */
  transition: 0.3s;
}
</style>
